{% load static %}


<html lang="zxx">

<head>
        <link rel="icon" href="/files/ICON_VCR.png">

    <meta charset="UTF-8">
    <meta name="description" content="Locksmith Template">
    <meta name="keywords" content="Locksmith  unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vrai-Cuir-Auto</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'src/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}" type="text/css">

</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
{% include './messages/success_message.html' %}

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="files/VCR_LOGO.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="header__option__num">Vrai Cuir Auto</div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/files/VCR_LOGO.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__options__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/accueil">Home</a></li>
                                <li><a href="/voitures_front">Voitures</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__option__num">Vrai Cuir Auto</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="/files/Cover1.jpg">
                          <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7">
                            <div class="hero__text">
                                <span>Vrai-Cuir-Auto</span>
                                <h2>La Sellerie ... Tout un Univers de Services Automobile</h2>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/files/Cover2.jpg">
           <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7">
                            <div class="hero__text">
                                <span>Vrai-Cuir-Auto</span>
                                <h2>La Sellerie ... Tout un Univers de Services Automobile</h2>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/files/Cover3.jpg">
           <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7">
                            <div class="hero__text">
                                <span>Vrai-Cuir-Auto</span>
                                <h2>La Sellerie ... Tout un Univers de Services Automobile</h2>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Filter Search Begin -->
    <div class="filter-search">
        <div class="container">
            <div class="filter__form">
                <div class="row">
                    <div class="col-lg-12" style="text-align:center">
                        <h2>Bienvenue</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Search End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title center-title">
                        <span>Our Services</span>
                        <h2>Services Que Nous Offrons</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="flaticon-015-laptop"></i>
                        </div>
                        <div class="services__item__text">
                            <h4>Réparation Du Cuir </h4>
                            <p>Avec nos produits de restauration de sellerie cuir,
 nous pouvons vous réparez tous les accrocs et entailles
dans le cuir de vos sièges et de votre habitacle.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="flaticon-036-alarm"></i>
                        </div>
                        <div class="services__item__text">
                            <h4>Sellerie</h4>
                            <p> L’aspect extérieur d’une voiture fait toujours impression mais son intérieur est le premier ressenti pour l’usager.
Notre spécialité est la pose d’intérieurs cuir sur des véhicules du quotidien, neufs ou en occasions très récentes.
</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="flaticon-005-website"></i>
                        </div>
                        <div class="services__item__text">
                            <h4>Entretien Cuir Voiture</h4>
                            <p> Nous vous servirons ce service d'entretien de cuir pour votre voiture. Pour que  l’intérieur de votre auto et ses revêtements cuir resteront longtemps propres, sans aucune imperfection. Sièges,</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="flaticon-031-radar"></i>
                        </div>
                        <div class="services__item__text">
                            <h4>Produits de Nettoyage</h4>
<p>Préparez votre voiture pour affronter les défis qu'elle devra surmonter sur la route : les produits de nettoyage et d'embellissement ainsi que les autres produits d'entretien permettront un entretien de qualité de votre auto.
</p>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="flaticon-035-smartphone"></i>
                        </div>
                        <div class="services__item__text">
                            <h4>Lavage Vapeur</h4>
                            <p>Le lavage sans eau s’appuie sur des produits nettoyants biodégradables ou à base de polymères qui rendent le prélavage de la voiture inutile. Leur fonctionnement est simple et leur efficacité indéniable </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <i class="flaticon-010-cctv"></i>
                        </div>
                        <div class="services__item__text">
                            <h4>Accessoire Voiture</h4>
                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="chooseus__content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="chooseus__pic">
                            <div class="row">

                                <div class="col-lg-12 col-md-8 p-0">
                                    <div class="chooseus__pic__item large__item set-bg" data-setbg="/files/why_choose_us.jpeg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chooseus__text">
                            <div class="section-title">
                                <span>Pourquoi nous choisir</span>
                                <h2>POURQUOI NOUS CHOISIR ?</h2>
                            </div>
                            <p>Notre remplacement du l'intérieurs en cuir transforment complètement l'apparence et la sensation de l'ensemble de votre véhicule. Notre équipe d'installateurs professionnels retirera le tissu de vos sièges avant
et arrière et le remplacera par un nouvel intérieurs, y compris les panneaux de porte , le revêtement de la console centrale (selon le véhicule) , le tois et le volant. En règle générale : s'il y a du tissu dessus, on le remplace. </p>                            <ul>
                                <li><i class="fa fa-check-square"></i>Les délais sont respectés</li>
                                <li><i class="fa fa-check-square"></i>Les rendez-vous sont rapide</li>
                                <li><i class="fa fa-check-square"></i>Haute Qualité</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Counter Begin -->
    <div class="counter spad">
        <div class="container">
        </div>
    </div>
    <!-- Counter End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <span>Les Marques</span>
                        <h2>Les Marques les plus travaillé</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="border__btn">
                        <a href="#" class="primary-btn border_btn">Voir tous</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for marque in marques %}
                <div class="dc-flex">
                    <a href="/voitures_front?cat={{ marque.nom }}" class="product__item">
                        <div class="product__item__pic">
                                  <img src= "/files/{{marque.image}}" />
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="footer__logo">
                        <a href="/accueil"><img src="/files/VCR_DARK.png" alt=""></a>
                    </div>

            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h5>Services</h5>
                    <ul>
                        <li><a href="#">Sellerie</a></li>
                        <li><a href="#">Entretien Cuir Voiture</a></li>
                        <li><a href="#">Réparation Cuir Voiture</a></li>
                        <li><a href="#">Lavage Vapeur</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h5>Liens rapides</h5>
                    <ul>
                        <li><a href="/accueil">Accueil</a></li>
                        <li><a href="/voitures_front">Voitures</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">

                    <ul>
                        <li><i class="fa fa-map-marker"></i> La Soukra, Tunisia</li>
                        <li><i class="fa fa-phone"></i> Telephone: +216 51 590 955   +216 24 759 015</li>
                        <li><i class="fa fa-envelope"></i> Email: elheniomar@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
       <Footer />
    </div>
     <div class="footer__copyright">
            <div class="row">

                <div class="col-lg-3 col-md-4">
                    <div class="footer__copyright__links">
                        <a href="https://www.facebook.com/VRAI-CUIR-AUTO-VCR-319795044705680"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/vrai_cuir_auto_vcr/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
</footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
<script src="{% static 'src/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'src/js/script.js' %}"></script>
<script src="{% static 'src/js/bootstrap.min.js' %}"></script>
<script src="{% static 'src/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'src/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'src/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'src/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'src/js/main.js' %}"></script>
</body>

</html>